# Folders
.vscode/
build/
autom4.cache/

# Autotools
aclocal.m4
config.h.in*
configure
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
test-driver

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
